.blackBorder{
   border: 1px solid black;
   background-color: white;
   box-shadow: 2px 2px gray;
   
  
}

.smallMargin{
    margin: 2%;
}

.titleBar{
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: lightgray;
}

.outerBorder{
    border: 2px solid black;
    background-color: rgb(243, 240, 240);
    box-shadow: 10px 10px gray;
}

.title{
    text-align: center;
    border-bottom: 3px solid black;
}

#nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* it center the item vertically */
    justify-content: center;
}

.nav-element {
    padding:5px 10px;
}